@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

* {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* show and hide */
  .show-in-small {
    display: none;
  }


  @media screen  and (max-width: 1000px) {
    .show-in-small {
        display: block;
      }
      .hide-in-small {
        display: none;
      }

      .info {
        display: none;
      }

      .user {
        display: none;
      }
   }

/*Layouts*/
  .wrapper {
    min-height: 100vh;
    position: relative;
    top: 0;
    height: 100vh;
  }

  .main-header {
    min-height: 55px;
    width: 100%;
    background: #ffffff;
    position: fixed;
    z-index: 1001;
    border-bottom: 1px solid #eee;
  }
  .main-header .logo-header {
    float: right;
    width: 260px;
    height: 55px;
    line-height: 55px;
    border-right: 1px solid #eee;
    color: #333333;
    z-index: 1001;
    font-size: 18px;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1001;
    display: inline-block;
  }
  .main-header .logo-header a.logo {
    color: #0432ff;
    text-decoration: none;
  }
  .main-header .logo-header .navbar-toggler {
    padding-left: 0px;
    padding-right: 0px;
    opacity: 0;
  }
  .main-header .logo-header .navbar-toggler .navbar-toggler-icon {
    background-size: cover;
    height: 1em;
    width: 1em;
    opacity: .8;
  }
  .main-header .logo-header .more {
    background: transparent;
    border: 0;
    font-size: 26px;
    padding: 0;
    opacity: 0;
  }

  .nav-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    display: block;
    z-index: 1;
    color: #ffffff;
    font-weight: 200;
    background: #ffffff;
    background-size: cover;
    background-position: center center;
    border-right: 1px solid #eee;
    box-shadow: 6px 1px 20px rgba(69, 65, 78, 0.1);
  }

  .nav-sidebar.user .info a:hover, .nav-sidebar .user .info a:focus {
    text-decoration: none;
  }
  .nav-sidebar .user .info a > span {
    font-size: 14px;
    font-weight: 600;
    color: #777;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
  }
  .nav-sidebar .user .info a > span .user-level {
    color: #555;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-top: 5px;
  }
  .nav-sidebar .user .info a .link-collapse {
    padding: 7px 0;
  }
  .nav-sidebar.user .info .caret {
    position: absolute;
    top: 17px;
    right: 0px;
    border-top-color: #777;
  }
  .nav-sidebar .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-top: 55px;
    padding-bottom: 100px;
  }
  .nav-sidebar.nav {
    display: block;
    float: none;
    margin-top: 20px;
  }
  .nav-sidebar.nav .nav-item {
    display: list-item;
  }
  .nav-sidebar .nav .nav-item.active a {
    color: #575962;
    font-weight: 700;
  }
  .nav-sidebar.nav .nav-item.active a:before {
    background: #1d7af3;
    opacity: 1 !important;
    position: absolute;
    z-index: 1;
    width: 3px;
    height: 100%;
    content: '';
    right: 0;
    top: 0;
  }
  .nav-sidebar .nav .nav-item.active:hover a:before {
    background: #1d7af3;
    opacity: 1 !important;
    position: absolute;
    z-index: 1;
    width: 3px;
    height: 100%;
    content: '';
    right: 0;
    top: 0;
  }
  .nav-sidebar .nav .nav-item.active a i {
    color: #4d7cfe;
  }
  .nav-sidebar .nav .nav-item a {
    display: flex;
    align-items: center;
    color: #83848a;
    padding: 13px 25px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    margin-bottom: 5px;
  }
  .nav-sidebar .nav .nav-item a:hover,  .nav-sidebar .nav .nav-item a:focus {
    text-decoration: none;
    background: #fbfbfb;
  }
  .nav-sidebar.nav .nav-item:hover a:before {
    background: #1d7af3;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    width: 3px;
    height: 100%;
    content: '';
    right: 0;
    top: 0;
  }
  .nav-sidebar .nav .nav-item a i {
    font-size: 23px;
    color: #C3C5CA;
    margin-right: 15px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    float: right;
  }
  .nav-sidebar .nav .nav-item a p {
    font-size: 14px;
    margin-bottom: 0px;
    letter-spacing: .04em;
    margin-right: 5px;
  }

  .nav a {
    text-decoration: none;
  }
  @media screen  and (max-width: 1000px) {
   .nav-sidebar,
   .navbar-header,
   .logo-header {
    display: none;
   }
  }

  /* end nav-sidebar*/

  .main-panel {
    position: relative;
    width: calc(100% - 260px);
    min-height: 100%;
    float: left;
    background: #f2f3f8;
  }
  .main-panel .content {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
    margin-top: 55px;
  }
  @media screen  and (max-width: 1000px) {
    .main-panel {
     position: relative;
     width: 100%;
   }
   }
  .footer {
    border-top: 1px solid #eee;
    padding: 15px;
    background: #ffffff;
  }
  .footer .container-fluid {
    display: flex;
    align-items: center;
  }

  /* table-responsive */
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  /*     Navbar     */
  .navbar .navbar-nav .nav-item .nav-link {
    display: inline-block;
    vertical-align: middle;
    color: #666;
    line-height: 55px;
    letter-spacing: 0.04em;
    padding: 0 20px 0 0;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  .navbar .navbar-nav .nav-item .nav-link i {
    font-size: 22px;
    width: 30px;
    vertical-align: middle;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    left: auto;
    right: 0;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .navbar .navbar-nav .notification {
    position: absolute;
    background-color: #ff646d;
    text-align: center;
    border-radius: 10px;
    min-width: 17px;
    height: 17px;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    line-height: 17px;
    top: 11px;
    right: 12px;
  }

  .navbar-header {
    padding: 0px 15px;
  }
  .navbar-header .dropdown-toggle {
    line-height: 55px;
  }
  .navbar-header .dropdown-toggle::after {
    margin-left: 0;
  }

  .profile-pic:hover, .profile-pic:focus {
    text-decoration: none;
  }

  .navbar-header .dropdown-toggle::after {
    vertical-align: middle;
    color: #555;
  }

  .hidden-caret .dropdown-toggle::after {
    display: none !important;
  }

  .profile-pic .img-circle {
    border-radius: 50%;
  }
  .profile-pic span {
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    color: #555;
  }

  /*     Nav Search     */
  .nav-search .input-group {
    border: 1px solid #eee;
    background: #eee;
    border-radius: 50px;
  }
  .nav-search .input-group:hover, .nav-search .input-group:focus {
    border: 1px solid #ddd;
  }
  .nav-search .form-control {
    border: 0;
    background: transparent;
    font-size: 14px;
  }
  .nav-search .input-group-text {
    border: 0;
    background: transparent;
  }
  .nav-search .search-icon {
    font-size: 21px;
    color: #666;
  }
  /*  */
  .photos {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    display: inline-block;

}

.dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 5px 0;
}

.dropdown-menu a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}



/*  */
/* table style */
.table-show-data table th {
    font-size: 13px !important;
    color: white;
    background-color: #ccc;
    padding: 10px !important;
}

.table-show-data table td {
    font-size: 13px !important;
    padding: 10px !important;
}

/* .table-show-data table  {
  border: 10px solid red;
} */

.table-show-data table tr {
    border: 5px solid #fff;
}

.table-show-data table tr th {
    background-color: #fff;
    color: black;
}

.search_input {
    border: 2px solid #ffffff;
}

.search_input input {
    border: 5px solid #0078ff;
    font-size: 13px;
}

.table-show-data .description {
    max-width: 200px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description .full-text {
    display: none;
    white-space: normal;
}

.description.expanded .short-text {
    display: none;
}

.description.expanded .full-text {
    display: inline;
}

.table-show-data table img {
    width: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
    transition: transform 2.5 ease;
    cursor: pointer;
}

.fullscreen {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen img {
    max-width: 90%;
    max-height: 90%;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: rgb(249, 0, 0);
    font-size: 24px;
}

.table-show-data .search_input input {
    font-size: 13px
}

.table-show-data .results tr[visible='false'],
.no-result {
    display: none;
}

.table-show-data .results tr[visible='true'] {
    display: table-row;
}

.table-show-data .counter {
    padding: 8px;
    color: #ccc;
}
